<ion-content [fullscreen]="true">
  <div class="global">
    <div class="topbtns">
      <ion-button class="button-secondary topbtn">Argazkiak <img src="../../assets/icon/ico_argazkiak.svg" class="topbtnico"></ion-button>
      <ion-button class="button-secondary topbtn">Saltatu <img src="../../assets/icon/ico_fastforward.svg" class="topbtnico"></ion-button>
    </div>
    <div class="content">
      proba
    </div>
    <div class="bottom">
      <ion-button class="button-primary">jarraitu</ion-button>
    </div>
  </div>
</ion-content>

