<ion-content [fullscreen]="true">
  <div class="global">
    <div class="toptitle">
      <h1>Hizki zopa</h1>
      <h3>Azpititulua</h3>
    </div>
    <div class="content">
      <tr class="zopatable" *ngFor="let row of board; let j = index">
        <td class="zopainner" *ngFor="let char of row; let i = index" (click)="handleClick('zopainner' + i + j)" id="zopainner{{i}}{{j}}">{{ char }}</td>
      </tr>
    </div>
    <div class="bottom">
      <ion-button class="button-primary button-disabled" (click)="pushButton()">jarraitu</ion-button>
    </div>
  </div>
</ion-content>
