<ion-content [fullscreen]="true">
  <div class="global">
    <div class="toptitle">
      <h1>Urkatua</h1>
      <h3>Azpititulua</h3>
    </div>
    <div class="content">
      <div class="hitza">
        <div class="hitzakflex">
          <div class="urkatua-hitza"><h1><span>L</span></h1></div>
          <div class="urkatua-hitza"><h1><span>A</span></h1></div>
          <div class="urkatua-hitza"><h1><span>N</span></h1></div>
          <div class="urkatua-hitza"><h1><span>D</span></h1></div>
          <div class="urkatua-hitza"><h1><span>A</span></h1></div>
          <div class="urkatua-hitza"><h1><span>K</span></h1></div>
          <div class="urkatua-hitza"><h1><span>O</span></h1></div>
        </div>
        <div class="hitzakflex behean">
          <div class="urkatua-hitza"><h1><span>G</span></h1></div>
          <div class="urkatua-hitza"><h1><span>U</span></h1></div>
          <div class="urkatua-hitza"><h1><span>N</span></h1></div>
          <div class="urkatua-hitza"><h1><span>E</span></h1></div>
          <div class="urkatua-hitza"><h1><span>A</span></h1></div>
        </div>
      </div>
      <div class="falloak">
        <img class="ximg" src="../../assets/icon/x.svg" alt="X">
        <h1><span id="falloak-zenbakia">0</span>/8</h1>
      </div>
      <div class="teklatua gap5">
        <ion-button class="button-secondary urkatua-tekla"><h1>A</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>B</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>C</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>D</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>E</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>F</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>G</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>H</h1></ion-button>

        <ion-button class="button-secondary urkatua-tekla"><h1>I</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>J</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>K</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>L</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>M</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>N</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>Ñ</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>O</h1></ion-button>

        <ion-button class="button-secondary urkatua-tekla"><h1>P</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>Q</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>R</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>S</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>T</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>U</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>V</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>W</h1></ion-button>

        <ion-button class="button-secondary urkatua-tekla"><h1>X</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>Y</h1></ion-button>
        <ion-button class="button-secondary urkatua-tekla"><h1>Z</h1></ion-button>
        <ion-button class="button-primary urkatua-bidali-tekla">Bidali</ion-button>
      </div>
    </div>
    <div class="bottom">
      <ion-button class="button-primary button-disabled">jarraitu</ion-button>
    </div>
  </div>
</ion-content>
